In [3]:
import pandas as pd
import pandas as numpy
original_data_path = "../original_data/bank-additional.csv"
processed_data_path = "../processed_data/bank-additional.csv"

In [6]:
bank_data_small = pd.read_csv(original_data_path,sep=";")

查看数据的基本情况，一共21列，最后一列为要预测的目标。

In [55]:
print(bank_data_small.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4119 entries, 0 to 4118
Data columns (total 21 columns):
age               4119 non-null int64
job               4119 non-null object
marital           4119 non-null object
education         4119 non-null object
default           4119 non-null object
housing           4119 non-null object
loan              4119 non-null object
contact           4119 non-null object
month             4119 non-null object
day_of_week       4119 non-null object
duration          4119 non-null int64
campaign          4119 non-null int64
pdays             4119 non-null int64
previous          4119 non-null int64
poutcome          4119 non-null object
emp.var.rate      4119 non-null float64
cons.price.idx    4119 non-null float64
cons.conf.idx     4119 non-null float64
euribor3m         4119 non-null float64
nr.employed       4119 non-null float64
y                 4119 non-null object
dtypes: float64(5), int64(5), object(11)
memory usage: 675.9+ KB
None

查看数值型数据的分布情况

In [79]:
bank_data_small[bank_data_small['job'] == "unknown"]

Int64Index([ 148,  229,  239,  344,  354,  467,  480,  499,  501,  528,  615,
             936,  949, 1058, 1082, 1108, 1282, 1329, 1383, 1464, 1618, 1642,
            1760, 1831, 1983, 2075, 2229, 2287, 2543, 2709, 2765, 2851, 3147,
            3276, 3424, 3550, 3579, 3933, 4009],
           dtype='int64')

In [85]:
for col in bank_data_small.columns:
    if bank_data_small[col].dtype == object:
        print("Percentage of \"unknown\" in %s：" %col ,bank_data_small[bank_data_small[col] == "unknown"][col].count(),"/",bank_data_small[col].count())

Percentage of "unknown" in job： 39 / 4119
Percentage of "unknown" in marital： 11 / 4119
Percentage of "unknown" in education： 167 / 4119
Percentage of "unknown" in default： 803 / 4119
Percentage of "unknown" in housing： 105 / 4119
Percentage of "unknown" in loan： 105 / 4119
Percentage of "unknown" in contact： 0 / 4119
Percentage of "unknown" in month： 0 / 4119
Percentage of "unknown" in day_of_week： 0 / 4119
Percentage of "unknown" in poutcome： 0 / 4119
Percentage of "unknown" in y： 0 / 4119

In [108]:
print(bank_data_small['y'][bank_data_small['y']== 'yes'].count()/bank_data_small['y'].count())
for col in bank_data_small.columns:
    if bank_data_small[col].dtype == object:
        print(bank_data_small.groupby(bank_data_small[col]).apply(lambda x: x['y'][x['y']== 'yes'].count()/x['y'].count()))

0.10949259529011895
job
admin.           0.131423
blue-collar      0.069005
entrepreneur     0.054054
housemaid        0.100000
management       0.092593
retired          0.228916
self-employed    0.081761
services         0.089059
student          0.231707
technician       0.115774
unemployed       0.171171
unknown          0.102564
dtype: float64
marital
divorced    0.096413
married     0.100438
single      0.134432
unknown     0.090909
dtype: float64
education
basic.4y               0.088578
basic.6y               0.074561
basic.9y               0.074913
high.school            0.105320
illiterate             0.000000
professional.course    0.121495
university.degree      0.130538
unknown                0.155689
dtype: float64
default
no         0.121267
unknown    0.061021
yes        0.000000
dtype: float64
housing
no         0.109842
unknown    0.085714
yes        0.110345
dtype: float64
loan
no         0.111675
unknown    0.085714
yes        0.102256
dtype: float64
contact
cellular     0.141403
telephone    0.051806
dtype: float64
month
apr    0.167442
aug    0.100629
dec    0.545455
jul    0.082982
jun    0.128302
mar    0.583333
may    0.065312
nov    0.096413
oct    0.362319
sep    0.406250
dtype: float64
day_of_week
fri    0.108073
mon    0.114620
thu    0.111628
tue    0.108205
wed    0.104403
dtype: float64
poutcome
failure        0.147577
nonexistent    0.082884
success        0.647887
dtype: float64
y
no     0.0
yes    1.0
dtype: float64

In [12]:
print(bank_data_small.describe())

               age     duration     campaign        pdays     previous  \
count  4119.000000  4119.000000  4119.000000  4119.000000  4119.000000
mean     40.113620   256.788055     2.537266   960.422190     0.190337
std      10.313362   254.703736     2.568159   191.922786     0.541788
min      18.000000     0.000000     1.000000     0.000000     0.000000
25%      32.000000   103.000000     1.000000   999.000000     0.000000
50%      38.000000   181.000000     2.000000   999.000000     0.000000
75%      47.000000   317.000000     3.000000   999.000000     0.000000
max      88.000000  3643.000000    35.000000   999.000000     6.000000

       emp.var.rate  cons.price.idx  cons.conf.idx    euribor3m  nr.employed
count   4119.000000     4119.000000    4119.000000  4119.000000  4119.000000
mean       0.084972       93.579704     -40.499102     3.621356  5166.481695
std        1.563114        0.579349       4.594578     1.733591    73.667904
min       -3.400000       92.201000     -50.800000     0.635000  4963.600000
25%       -1.800000       93.075000     -42.700000     1.334000  5099.100000
50%        1.100000       93.749000     -41.800000     4.857000  5191.000000
75%        1.400000       93.994000     -36.400000     4.961000  5228.100000
max        1.400000       94.767000     -26.900000     5.045000  5228.100000

In [11]:
print(bank_data_small.head())

   age          job  marital          education default  housing     loan  \
0   30  blue-collar  married           basic.9y      no      yes       no
1   39     services   single        high.school      no       no       no
2   25     services  married        high.school      no      yes       no
3   38     services  married           basic.9y      no  unknown  unknown
4   47       admin.  married  university.degree      no      yes       no

     contact month day_of_week ...  campaign  pdays  previous     poutcome  \
0   cellular   may         fri ...         2    999         0  nonexistent
1  telephone   may         fri ...         4    999         0  nonexistent
2  telephone   jun         wed ...         1    999         0  nonexistent
3  telephone   jun         fri ...         3    999         0  nonexistent
4   cellular   nov         mon ...         1    999         0  nonexistent

  emp.var.rate  cons.price.idx  cons.conf.idx  euribor3m  nr.employed   y
0         -1.8          92.893          -46.2      1.313       5099.1  no
1          1.1          93.994          -36.4      4.855       5191.0  no
2          1.4          94.465          -41.8      4.962       5228.1  no
3          1.4          94.465          -41.8      4.959       5228.1  no
4         -0.1          93.200          -42.0      4.191       5195.8  no

[5 rows x 21 columns]